.location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 10px; 
    text-align: center;
    color: whitesmoke;
}

.willowCreek-container  {
    margin: 10px;
    max-width: 1000px;
    padding: 5px;
    background-color: #F5F5F5;
    color: grey;
    font-size: medium;
    font-weight: bold;
    border: solid rgb(15, 82, 252);
}

.maps   {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maps img {
    margin-right: 20px;
    border: solid rgb(15, 82, 252);
}